@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "overpass", sans-serif;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4em;
  background-color: #edf0f6;
  color: #333;
}
.update {
  font-size: 0.9rem;
  position: absolute;
  top: 2px;
  left: 1px;
}
.update img{
       height: 14px;
       margin: -5.5% -2px;
       cursor: pointer;
}
h3.cityName{
       margin-top: 20%;
       margin-bottom: 0px;
       font-weight: bold;
}
#cityInput{
       position: sticky;
       margin: 10px auto;
       height: 25px;
       border: solid 1px #3366;
       border-radius: 3.5px;
       padding: 6px 4px;
       font-size: large;
       text-align: center;
}
.details{
       margin: auto 20px;
       font-size: 0.8rem;
}
.icons img{
       height:14px;
       margin-inline:10px ;
       margin-top: 10px;
       margin-bottom: 3px;
}
.detailsNumbers span.windSpeed{
       margin-left: 10px;
}
.detailsNumbers span.windSpeed{
       margin-right: -20px;
}